@import "../../../global.scss";

.about{
    top: $topbarH;
    width: 100vw;
    height: calc(100vh - #{$topbarH});
    overflow: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    .wrapper{
        position: relative;
        width: 100%;
        top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;

        .container{
            left: 25%;
            width: 50%;
            overflow: visible;
            .title{
                width: 100%;
                font-size: 30px;
                font-weight: 400;
                color: $mainColor;
            }
            .text{
                width: 100%;
                font-size: 12px;
                font-weight: 400;
                color: $mainColor;
                line-height: 20px;
                .italic{
                    font-style: italic;
                }

            }
            .text2{
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                color: $mainColor;
                line-height: 30px;
            }
            .text3{
                width: 100%;
                text-align: right;
                font-size: 12px;
                font-weight: 400;
                color: $mainColor;
                line-height: 30px;
            }
            .eventName{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}