@import "../../global.scss";

.portfolio{
    height: calc(100vh - #{$topbarH});
    top: $topbarH;
    background-color: $mainBKColor1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;

    .wrapper1{
        height: 100%;
        width: 30%;
        min-width: 300px;
        max-width: 500px;
        background-color: $mainBKColor3;
        overflow: hidden;

        .container{
            padding: 20px 60px;
            padding-right: 20%;
            position: relative;
            top: 15%;
            color: $mainColor;
            .title{
                font-size: 20px;
                font-weight: 400;
                text-align: left;
            }
        }
    }

    .wrapper2{
        padding-left: 40px;
        height: 100%;
        width: 100%;
        left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        .row{
            display: flex;
            flex-direction: row;
            overflow: visible;

            .container{
                position: relative;
                display: flex;
                flex-direction: column;
                overflow: visible;

                .card{
                    margin-right: 20px;
                    margin-left: 20px;
                    width: 30vh;
                    height: 30vh;
                    background-color: grey;
                    border-radius: 10px;
                    overflow: visible;
                    scrollbar-width: none;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
    
                .title{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 10px;
                    font-weight: 400;
                    overflow: hidden;

                }
            }
        }
    }
}